<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pedidos Materia</title>
    <%- include ('../partials/head') %>
</head>

<body>
    <div class="wrapper">
        <%- include ('../partials/navegacion') %>
        <!-- Contenido general -->
        <div id="content">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="navbar-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active">
                                <img src="../../Imagenes/Logo2.png" width="130" height="50" />
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <!-- Formulario -->
            <div class="container">
                <h2>Pedidos de Materia - Maestro</h2>
                </br>
                <div class="form-row">
                    <div class="form-group col-md-10">
                        <input class="form-control" id="buscar" type="text" placeholder="Buscar..">
                    </div>
                    <div class="form-group">
                        <a type="button" href="/formPedidosMateriaM" class="btn btn-success"><i class="fas fa-plus"></i> Agregar nuevo</a>
                    </div>
                </div>
                <table class="table table-light table-bordered table-responsive-sm">
                    <thead>
                        <tr>
                            <th>Orden Pedido</th>
                            <th>Fecha</th>
                            <th>Proveedor</th>
                            <th>Comprobante</th>
                            <th>Nombre Corto</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody id="pedidosMateriaM">
                        <%if (Resultado != ''){ %>
                        <% Resultado.forEach(function(row){ %>
                        <tr>
                            <td><%= row.ordenPedido %></td>
                            <td><%= row.fechaOrden %></td>
                            <td><%= row.proveedor %></td>
                            <td><%= row.comprobante %></td>
                            <td><%= row.nombreCorto %></td>
                            <td>
                                <button class="btn"><i class="fas fa-trash"></i></button>
                                <button class="btn"><i class="fas fa-pencil-alt"></i></button>
                            </td>
                        </tr>
                        <% })}else{ %>
                        <tr>
                            <td colspan="6">No Record Found</td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>

<script >
    $(document).ready(function () {
        $("#buscar").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#pedidosMateriaM tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>