<!DOCTYPE html>
<html lang="en">

<head>
    <title>Producción en lote</title>
    <%- include ('../../partials/head') %>
</head>

<body>
    <div class="wrapper">
        <%- include ('../../partials/navegacion') %>
        <!-- Contenido general -->
        <div id="content">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="navbar-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active">
                                <img src="../../../Imagenes/Logo2.png" width="130" height="50" />
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Formulario -->
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-md-7 col-lg-8 mx-auto">
                        <div class="card card-signin my-3">
                            <div class="card-body">
                                <h4 class="card-title text-center">Modificar Producción en lote</h4>
                                </br>
                                <script>
                                    var mensaje = '<%= Updated %>';
                                    if(mensaje != '')
                                      alert('<%= Updated %>');
                                </script>
                                
                                <form method="post" action="/formProdModificar/<%= Resultado._id %>" novalidate>
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <input type="hidden" class="form-control" id="id" value="<%= Resultado._id %>" name="_id">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="numero">Numero</label>
                                            <input type="text" class="form-control" id="numero" value="<%= Resultado.numProduccion %>" name="numProduccion">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="fecha">Fecha </label>
                                            <input type="date" class="form-control" id="fecha" value="<%= Resultado.Fecha %>" name="Fecha">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-8">
                                            <label for="codigo">Codigo</label>
                                            <input type="text" class="form-control" id="codigo" value="<%= Resultado.codigoProducto %>" name="codigoProducto">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="producto">Producto</label>
                                            <input type="text" class="form-control" id="producto" value="<%= Resultado.Producto %>" name="Producto"> 
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label for="bodega">Bodega</label>
                                            <input type="text" class="form-control" id="bodega" value="<%= Resultado.Bodega %>" name="Bodega">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="cantidad">Cantidad</label>
                                            <input type="text" class="form-control" id="cantidad" value="<%= Resultado.Cantidad %>" name="Cantidad">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="tiempo">Tiempo</label>
                                            <input type="text" class="form-control" id="tiempo"value="<%= Resultado.Tiempo %>"  name="Tiempo">
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-success"><i class="fas fa-check"></i>
                                        Modificar</button>
                                
                                    <a class="btn btn-danger" href="/produccionLote"><i class="fas fa-times"></i>
                                        Salir</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

