<!DOCTYPE html>
<html lang="en">

<head>
    <title>Usuarios</title>
    <%- include ('../partials/head') %>
</head>

<body>

    <div class="wrapper">
        <%- include ('../partials/navegacion') %>
        <!-- Contenido general -->
        <div id="content">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="navbar-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active">
                                <img src="../../../Imagenes/Logo2.png" width="130" height="50" />
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Formulario -->
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-md-7 col-lg-8 mx-auto">
                        <div class="card card-signin my-3">
                            <div class="card-body">
                                <h4 class="card-title text-center">Modificar Usuario</h4>
                                </br>
                                <script>
                                    var mensaje = '<%= Updated %>';
                                    if(mensaje != '')
                                      alert('<%= Updated %>');
                                </script>
                                
                                <form method="post" action="/formUserModificar/<%= Resultado._id %>">
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <input type="hidden" class="form-control" id="id" value="<%= Resultado._id %>" name="_id" required>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-8">
                                            <label for="nombre">Nombre</label>
                                            <input type="text" class="form-control" id="nombre" value="<%= Resultado.nombre %>" name="nombre" required>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="nombreCorto">Nombre Corto</label>
                                            <input type="text" class="form-control" id="producto" value="<%= Resultado.nombreCorto %>" name="nombreCorto" required> 
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label for="user">Usuario</label>
                                            <input type="text" class="form-control" id="user" value="<%= Resultado.user %>" name="user" required>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="correo">Correo</label>
                                            <input type="text" class="form-control" id="correo" value="<%= Resultado.correo %>" name="correo" required>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="estado">Estado</label>
                                            <select id="estado" class="form-control" name="estado" value="<%= Resultado.estado %>" required>
                                                <option selected>Activo</option>
                                                <option>Inactivo</option>
                                            </select>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-success"><i class="fas fa-check"></i>
                                        Modificar</button>
                                
                                    <a class="btn btn-danger" href="/usuarios"><i class="fas fa-times"></i>
                                        Salir</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

