<!DOCTYPE html>
<html lang="en">

<head>
    <title>Clientes</title>
    <%- include ('../../partials/head') %>
</head>

<body>

    <div class="wrapper">
        <%- include ('../../partials/navegacion') %>
        <!-- Contenido general -->
        <div id="content">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="navbar-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active">
                                <img src="../../../Imagenes/Logo2.png" width="130" height="50" />
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Formulario -->
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-md-7 col-lg-10 mx-auto">
                        <div class="card card-signin my-3">
                            <div class="card-body">
                                <h4 class="card-title text-center">Clientes</h4>
                                </br>
                                <script>
                                    var mensaje = '<%= Updated %>';
                                    if(mensaje != '')
                                      alert('<%= Updated %>');
                                </script>
                                <form method="post" action="/formClientesModificar/<%= Resultado._id %>" novalidate>
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label for="fechaIngreso">Fecha ingreso</label>
                                            <input type="date" class="form-control" id="fechaIngreso">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="id">Documento identificación</label>
                                            <input type="text" class="form-control" id="id" name="cedula" value="<%= Resultado._cedula %>">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="estado">Estado</label>
                                            <select id="estado" class="form-control" name="estado" value="<%= Resultado._estado %>">
                                                <option selected>Activo</option>
                                                <option>Inactivo</option>
                                              </select>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label for="primerApellido">Primer apellido</label>
                                            <input type="text" class="form-control" id="primerApellido" name="apellido1" value="<%= Resultado._apellido1 %>">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="segundoApellido">Segundo apellido</label>
                                            <input type="text" class="form-control" id="segundoApellido" name="apellido2" value="<%= Resultado._apellido2 %>">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="nombre">Nombre</label>
                                            <input type="text" class="form-control" id="nombre" name="nombre" value="<%= Resultado._nombre %>">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-2">
                                            <label for="tel">Teléfono</label>
                                            <input type="tel" class="form-control" id="tel" name="telefono" value="<%= Resultado._telefono %>">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="email">Correo electrónico</label>
                                            <input type="email" class="form-control" id="email" name="correo" value="<%= Resultado._correo %>">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="direccion">Dirección</label>
                                            <input type="text" class="form-control" id="direccion" name="direciion" value="<%= Resultado._direciion %>">
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-success"><i class="fas fa-check"></i>
                                        Modificar</button>
                                    <a class="btn btn-danger" href="/clientes"><i class="fas fa-times"></i>
                                        Salir</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>